/* Navigation bar */
#navbar {
	top: 0px;
	background: transparent;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 999999;
	transition: all ease .5s;
	padding: 0 10% 0 10%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#navbar nav{
	float: right;
}

/* Navbar links */
#navbar li{
	float: left;
	display: inline;
	padding: 3% 10px 0 20px;
}

#logo {
	padding: 10px 0 0 20px;
	transition: all ease .5s;
}

.jclogo {
	padding: 0 0 10px 0;
	display:inline;
	float:left;
	width: 70px;
	height: auto;
}

/* Hero */
#hero {
	/* Hero image attributes */
	height: 100vh;
	width: 100%;
	background: url(../images/ChocolateHills.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: -10;
	/* Flex box */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#hero > h1 {
	color: white;
	margin-top: -30px;
}

#hero-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5); /* 0.5 opacity */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

.btn-outline-info {
	color: white !important;
	border-color: white !important;
	border-radius: 24px !important;
}

body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*

Current State
header.highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

Hover State
header a:hover{
	color: #cccccc;
	font-weight: bold;
}

*/