.jclogo {
	padding: 10px 10px 10px 10px;
	display:inline;
	float:left;
	width: 100px;
	height: auto;
}

.btn-outline-info {
	color: white !important;
	border-color: white !important;
	border-radius: 24px !important;
}

/* List Items */
header li{
	float: left;
	display: inline;
	padding: 20px 10px 0 20px;
}

header li a{
	color: white;
}


header nav{
	float: right;
	margin-top: 10px;
}

header {
	background: transparent;
	min-height: 40px;
	z-index: 9999;
}

/* Hero */
#hero {
	/* Hero image attributes */
	background-image: url(../images/ChocolateHills.jpg);
	background-size: cover;
	background-position: 0 0;
	/* Container attributes */
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: -10;
	margin-top: -100px;
	/* Flex box */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#hero > h1 {
	color: #fff;
	margin-top: -30px;
}

#hero-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5); /* 0.5 opacity */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Unordered List
ul{
	margin: 0;
	padding: 0;
}

/* Header
header{
	background: #35434a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #0b7de2 5px solid;
}

 Header Links (for <a> tags)
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

Current State
header.highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

Hover State
header a:hover{
	color: #cccccc;
	font-weight: bold;
}

*/